
body {
    margin: 0;
    font-size: 100%;
    background: rgba(255,255,255);
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}
h1.main {
    display: block;
    letter-spacing: 1px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    font-size: 35pt;
    color: black;
    text-shadow: 5px 5px 5px #FFFF70;
}
h1.buttons {
    display: block;
    letter-spacing: 1px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
}
h1.titles {
    display: block;
    letter-spacing: 1px;
    font-weight: bolder;
    text-align: center;
    text-transform: capitalize;
    font-size: 50pt;
    color: #FFFF70;
    text-shadow: 5px 5px 5px #FFFF70;
}
h2.main {
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    color: white;
    text-shadow: 3px 3px 3px #FFFF70;
}

h2.titles {
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    left: 100pt;
    text-transform: capitalize;
    color: white;
}

h3.main {
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    color: white;
    text-shadow: 3px 3px 3px #FFFF70;
}

h3.titles {
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    color: blue;
    text-shadow: 3px 3px 3px #FFFF70;
}

h4.main {
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    color: red;
}

p.centers {
    text-align: center;
}

p.indent {
    text-indent: 24pt;
    padding-left: 10pt;
    padding-right: 10pt;
}
a.noline {
    text-decoration: none;
}
:link {
    color: blue;
}
:visited {
    color: blue;
}
:hover {
    color: blue;
}


div.first {
    position: absolute;
    top: 0px;
    height: 350px;
    left: 0pt;
    right: 0pt;
    background: -webkit-linear-gradient(rgba(255, 0, 255, 0.5), rgba(70, 70, 255, 0.5)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(rgba(255, 0, 255, 0.5), rgba(70, 70, 255, 0.5)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(rgba(255, 0, 255, 0.5), rgba(70, 70, 255, 0.5)); /* Firefox 3.6 - 15 */
    background: linear-gradient(rgba(255, 0, 255, 0.5), rgba(70, 70, 255, 0.5)); /* 标准的语法（必须放在最后） */
}

div.second {
    position: absolute;
    top: 350px;
    left: 0pt;
    right: 0pt;
    height: 350px;
    background: -webkit-linear-gradient(rgba(70, 70, 255, 0.5), rgba(70, 255, 0, 0.5)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(rgba(70, 70, 255, 0.5), rgba(70, 255, 0, 0.5)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(rgba(70, 70, 255, 0.5), rgba(70, 255, 0, 0.5)); /* Firefox 3.6 - 15 */
    background: linear-gradient(rgba(70, 70, 255, 0.5), rgba(70, 255, 0, 0.5)); /* 标准的语法（必须放在最后） */
}

div.third {
    position: absolute;
    top: 700px;
    left: 0pt;
    right: 0pt;
    background: -webkit-linear-gradient(rgba(70, 255, 0, 0.5), white); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(rgba(70, 255, 0, 0.5), white); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(rgba(70, 255, 0, 0.5), white); /* Firefox 3.6 - 15 */
    background: linear-gradient(rgba(70, 255, 0, 0.5), white); /* 标准的语法（必须放在最后） */
}

div.centers {
    width: 700pt;
    justify-content: center;
    display: flex;
    margin: 0 auto;
}
div.centerss {
    justify-content: center;
    display: flex;
    margin: 0 auto;
}
div.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 50px;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.8)
}
div.lists {
    width: 700pt;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    padding-top: 30pt;
}
div.listlast {
    width: 700pt;
    padding-bottom: 200pt;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    padding-top: 30pt;
}
img.radiuscenter {
    display: block;
    margin: 0 auto;
    margin-top: 10pt;
    width: 100pt;
    height: 100pt;
    background-color: #df0fdf;
    border-radius: 50%;
}

img.centers {
    display: block;
    margin: 0 auto;
    width: 150pt;
    height: 150pt;
}

img.centerandbroder {
    width: 150pt;
    height: 150pt;
    border-style: dotted;
    border-color: blue;
    background-color: rgba(0, 70, 255, 0.5)
}

.bgm {
    display: none;
}

img.lists {
    width: 300pt;
    height: 200pt;
    background-color: #df0fdf;
}

img.mute {
    position: absolute;
    right: 10pt;
    top: 10pt;
    border-radius: 50%;
    width: 50pt;
    height: 50pt;
}

button {
    width: 150px;
    margin-left: 5px;
    margin-right: 5px;
    border-style: dotted;
    background-color: blue;
}
:hover {
    color: aqua;
}