/* other */
body.pb {
    background: -webkit-linear-gradient(rgba(255, 0, 255, 0.5), rgba(70, 70, 255, 0.5)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(rgba(255, 0, 255, 0.5), rgba(70, 70, 255, 0.5)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(rgba(255, 0, 255, 0.5), rgba(70, 70, 255, 0.5)); /* Firefox 3.6 - 15 */
    background: linear-gradient(rgba(255, 0, 255, 0.5), rgba(70, 70, 255, 0.5)); /* 标准的语法（必须放在最后） */
}
h1.main {
    /* font-family: Verdana, Arial, Helvetica, sans-serif; */
    font-family: PingFang;
    font-size: 50pt;
    text-align: center;
    text-shadow: 5px 5px 5px #FFFF70;
}
h2.main {
    /* font-family: Verdana, Arial, Helvetica, sans-serif; */
    font-family: PingFang;
    font-size: 30pt;
    text-align: center;
    text-shadow: 3px 3px 3px rgb(255, 0, 0);
}
/* img */
div.maindiv {
    animation: selected 1s infinite forwards;
    -webkit-animation: selected 1s linear forwards;
}
div.unmaindiv {
    animation: unselected 0.5s infinite forwards;
    -webkit-animation: unselected 0.5s linear forwards;
}
div.startdiv {
    display: none;
}
img.main {
    display: block;
    position: fixed;
    width: 1800px;
    height: 720px;
}
p.centerss {
    /* font-family: 'Raleway', sans-serif; */
    font-family: PingFang;
    font-size: 10pt;
    font-weight: 700;
    text-align: center;
}
/* button */
h1.buttons {
    font-family: PingFang;
    display: block;
    letter-spacing: 1px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
}

button {
    /* font-family: Verdana, Arial, Helvetica, sans-serif; */
    /* font-family: "微软正黑体"; */
    /* width: 130px; */
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-style: dotted;
    background-color: rgb(135, 155, 255);
    cursor: url("../../cursors/pointer.cur"), default;
}
/* footer */
div.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 80px;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.5)
}
p.centers {
    /* font-family: Verdana, Arial, Helvetica, sans-serif; */
    font-family: PingFang;
    font-size: 14pt;
    font-weight: 700;
    text-align: center;
}
h1.centers {
    /* font-family: Verdana, Arial, Helvetica, sans-serif; */
    font-family: PingFang;
    font-size: 50pt;
    font-weight: 700;
    text-align: center;
}
a.noline {
    text-decoration: none;
    cursor: url("../../cursors/pointer.cur"), default;
}

@keyframes selected
{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes selected
{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes unselected {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes unselected {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@font-face {
    font-family: PingFang;
    src: url(../../fonts/苹方黑体-中黑-简.ttf)
}
