/* img */
div.maindiv {
    animation: selected 1s infinite forwards;
    -webkit-animation: selected 1s linear forwards;
}
div.unmaindiv {
    animation: unselected 0.5s infinite forwards;
    -webkit-animation: unselected 0.5s linear forwards;
}
div.startdiv {
    display: none;
}
img.main {
    display: block;
    position: fixed;
    width: 1800px;
    height: 750px;
}
p.centerss {
    font-family: 'Raleway', sans-serif;
    font-size: 10pt;
    font-weight: 700;
    text-align: center;
}
/* button */
h1.buttons {
    display: block;
    letter-spacing: 1px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
}

button {
    width: 200px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-style: dotted;
    background-color: blue;
    cursor: url("../../cursors/pointer.cur"), default;
}
/* footer */
div.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100px;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.8)
}
p.centers {
    font-family: 'Raleway', sans-serif;
    font-size: 20pt;
    font-weight: 700;
    text-align: center;
}
h1.centers {
    font-family: 'Raleway', sans-serif;
    font-size: 50pt;
    font-weight: 700;
    text-align: center;
}
a.noline {
    text-decoration: none;
    cursor: url("../../cursors/pointer.cur"), default;
}

@keyframes selected
{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes selected
{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes unselected {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes unselected {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
