body {
    /* font-family: "微软雅黑", "STHeiti"; */
    /* font-family: 'Fira Code'; */
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    transition: 0.5s;
}

p {
    font-size: 20px;
    font-weight: 600;
}

div.te {
    justify-content: center;
    display: flex;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 80px;
    width: 1000px;
}

.search-box {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    /* background: #2f3640; */
    height: 80px;
    width: 450px;
    border-radius: 40px;
    padding: 10px;
    /* transition: 0.4s; */
    /* opacity: 0.3; */
}

.search-sel {
    border: none;
    background: none;
    outline: none;
    /* float: left; */
    padding: 0;
    /* background-color: #2f3640; */
    /* color: white; */
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    /* width: 0px; */
    height: 40px;
    text-align: center;
    text-align-last: center;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    /* float: left; */
    padding: 0;
    /* color: white; */
    font-size: 16px;
    transition: 0.4s;
    /* line-height: 40px; */
    /* width: 0px; */
    width: 20px;
}

div.main {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 50px;
    justify-content: center;
    display: flex;
    width: 400px;
    border-radius: 40px;
    padding: 10px;
}

button.main {
    width: 400px;
    height: 50px;
    font-size: 20px;
    color: white;
    font-weight: 800;
    /* font-family: '微软雅黑'; */
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

div.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 80px;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.8);
}

p.centers {
    text-align: center;
    font-size: 14pt;
    font-weight: 700;
}

a.noline {
    text-decoration: none;
    /* cursor: default; */
}

button {
    border-style: dotted;
    background-color: rgb(0, 0, 255)
    /* cursor: url("cursors/pointer.cur"), default; */
}